h1{
    color: goldenrod;
    font-size: 40px;
    background-color: aqua;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
